{% include "header1.html" %}
{% load static %}

    <!-- chef section begin -->
    <div id="chef">
        <h1 id="section">Chef</h1>
        <div id="chef_row">
            <div class="chef_col">
                <div id="img">
                    <img src= "{% static 'images/1.png'%}" alt="chefimg">
                </div>
                <div>
                    <h4>AKASH GUPTA</h4>
                </div>
                </div>      
            
        <div class="chef_col">
            <div id="img">
                <img src= "{% static 'images/2.png'%}" alt="chefimg">
            </div>
            <div>
                <h4>PRASHANT SHARMA</h4>
            </div>
            </div>
    
        
    <div class="chef_col">
        <div id="img">
            <img src= "{% static 'images/3.png'%}" alt="chefimg">
        </div>
        <div>
            <h4>AMIT GUPTA</h4>
        </div>
    </div>
    
    <div class="chef_col">
        <div id="img">
            <img src= "{% static 'images/1.png'%}" alt="chefimg">
        </div>
        <div>
            <h4>RAKESH GUPTA</h4>
        </div>
        </div>
    
        </div>
    
       </div>
    
    
        <!-- chef section end -->
        {% include "footer.html" %}