{% include "header1.html" %}
{% load static %}
 <!-- Contact section begin -->
 <div id="contact">
    <h1 id="section">Contact</h1>
    <div id="contact_row">
        <div class="contact_col">
            <div>
                <p>
                    <i class="fa fa-map-marker"></i>
                    Malaviya Nagar Distric Gorakhpur
                </p>
                <p>
                    <a href="mailto:anand123@gmail.com">
                        <i class="fa fa-envelope"></i>
                    anand123@gmail.com
                    </a>
                </p>
                <p>
                    <a href="tel:+7410852963">
                        <i class="fa fa-phone-square"></i>
                    +7410852963

                    </a>
                </p>
                <h3>Follow Us</h3>
                    <p id="social">
                    <a href=""><i class="fa fa-facebook fa-2x"></i>
                    </a>
                    <a href=""><i class="fa fa-instagram fa-2x"></i>
                    </a>
                    <a href=""><i class="fa fa-twitter-square fa-2x"></i>
                    </a>
                    <a href=""><i class="fa fa-youtube-square fa-2x"></i>
                    </a>
                    </p>
            </div>

        </div>
        <div class="contact_col">
            <form>
                <h2>Get in touch</h2>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Subject"> 
                <textarea rows="6" placeholder="Type Message"></textarea>
                <button>Send Message </button>
            </form>

        </div>
    </div>

</div>


<!-- Contact section end -->

{% include "footer.html" %}
