   {% extends 'base.html' %}
   {% block content %}
   {% load static %}
    <!-- Menu section begin -->
    <div id="Menu">
        <h1 id="section">Menu</h1>
        <div id="menu_row">
            <div id="menu_col">
                <h2>Breakfast</h2>
                <div class="box">
                    <div id="image">
                        <img src= "{% static 'images/breakfast1.jpg'%}" alt="Breakfast">
                    </div>
                    <div>
                        <h3>Tasty Dish 01</h3>
                        <h4>10$</h4>
                    </div>

                </div>
                <div class="box">
                    <div id="image">
                        <img src= "{% static 'images/breakfast2.jpg'%}" alt="Breakfast">
                    </div>
                    <div>
                        <h3>Tasty Dish 01</h3>
                        <h4>10$</h4>
                    </div>

                </div>
                <div class="box">
                    <div id="image">
                        <img src= "{% static 'images/breakfast3.jpg'%}" alt="Breakfast">
                    </div>
                    <div>
                        <h3>Tasty Dish 01</h3>
                        <h4>10$</h4>
                    </div>

                </div>

            </div>
            <div id="menu_col">
                <h2>Lunch</h2>
                <div class="box">
                    <div id="image">
                        <img src= "{% static 'images/lunch1.jpg' %}" alt="Lunch">
                    </div>
                    <div>
                        <h3>Tasty Dish 01</h3>
                        <h4>10$</h4>
                    </div>

                </div>
                <div class="box">
                    <div id="image">
                        <img src= "{% static 'images/lunch2.jpg' %}" alt="Breakfast">
                    </div>
                    <div>
                        <h3>Tasty Dish 01</h3>
                        <h4>10$</h4>
                    </div>

                </div>
                <div class="box">
                    <div id="image">
                        <img src= "{% static 'images/lunch3.jpg' %}" alt="Breakfast">
                    </div>
                    <div>
                        <h3>Tasty Dish 01</h3>
                        <h4>10$</h4>
                    </div>

                </div>

            </div>
            <div id="menu_col">
                <h2>Dinner</h2>
                <div class="box">
                    <div id="image">
                        <img src= "{% static 'images/dinner1.jpg'%}" alt="Dinner">
                    </div>
                    <div>
                        <h3>Tasty Dish 01</h3>
                        <h4>10$</h4>
                    </div>

                </div>
                <div class="box">
                    <div id="image">
                        <img src= "{% static 'images/dinner2.jpg'%}" alt="Breakfast">
                    </div>
                    <div>
                        <h3>Tasty Dish 01</h3>
                        <h4>10$</h4>
                    </div>

                </div>
                <div class="box">
                    <div id="image">
                        <img src= "{% static 'images/dinner3.jpg' %}" alt="Breakfast">
                    </div>
                    <div>
                        <h3>Tasty Dish 01</h3>
                        <h4>10$</h4>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Menu section end -->

    <!-- chef section begin -->
   <div id="chef">
    <h1 id="section">Chef</h1>
    <div id="chef_row">
        <div class="chef_col">
            <div id="img">
                <img src= "{% static 'images/1.png'%}" alt="chefimg">
            </div>
            <div>
                <h4>AKASH GUPTA</h4>
            </div>
            </div>      
        
    <div class="chef_col">
        <div id="img">
            <img src= "{% static 'images/2.png'%}" alt="chefimg">
        </div>
        <div>
            <h4>PRASHANT SHARMA</h4>
        </div>
        </div>

    
<div class="chef_col">
    <div id="img">
        <img src= "{% static 'images/3.png'%}" alt="chefimg">
    </div>
    <div>
        <h4>AMIT GUPTA</h4>
    </div>
</div>

<div class="chef_col">
    <div id="img">
        <img src= "{% static 'images/1.png'%}" alt="chefimg">
    </div>
    <div>
        <h4>RAKESH GUPTA</h4>
    </div>
    </div>

    </div>

   </div>


    <!-- chef section end -->

    <!-- About section begin -->
    <div id="about">
        <h1 id="section">About</h1>
        <div id="about_row">
            <div class="about_col">
                <h1>About Us</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Veniam laborum magnam officia consequuntur cum repudiandae nihil 
                    temporibus tempora ex labore quas, corrupti deleniti iusto cumque at,
                    delectus minus quos voluptas!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Dolorum aspernatur accusamus inventore animi eius dolorem explicabo alias, 
                    possimus facilis optio non voluptatum fuga asperiores 
                    totam distinctio eaque deserunt at nesciunt?
                    
                </p>

            </div>
            <div  class="about_col">
                <div id="about_img">
                    <div>
                        <img src= "{% static 'images/about.png'%}" alt="Aboutimg">
                    </div>

                </div>

            </div>

        </div>

    </div>


    <!-- About section end -->

    <!-- Contact section begin -->
    <div id="contact">
        <h1 id="section">Contact</h1>
        <div id="contact_row">
            <div class="contact_col">
                <div>
                    <p>
                        <i class="fa fa-map-marker"></i>
                        Malaviya Nagar Distric Gorakhpur
                    </p>
                    <p>
                        <a href="mailto:anand123@gmail.com">
                            <i class="fa fa-envelope"></i>
                        anand123@gmail.com
                        </a>
                    </p>
                    <p>
                        <a href="tel:+7410852963">
                            <i class="fa fa-phone-square"></i>
                        +7410852963

                        </a>
                    </p>
                    <h3>Follow Us</h3>
                        <p id="social">
                        <a href=""><i class="fa fa-facebook fa-2x"></i>
                        </a>
                        <a href=""><i class="fa fa-instagram fa-2x"></i>
                        </a>
                        <a href=""><i class="fa fa-twitter-square fa-2x"></i>
                        </a>
                        <a href=""><i class="fa fa-youtube-square fa-2x"></i>
                        </a>
                        </p>
                </div>

            </div>
            <div class="contact_col">
                <form>
                    <h2>Get in touch</h2>
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Email">
                    <input type="text" placeholder="Subject"> 
                    <textarea rows="6" placeholder="Type Message"></textarea>
                    <button>Send Message </button>
                </form>

            </div>
        </div>

    </div>


    <!-- Contact section end -->

     <!-- Book Table begin -->
     <section class="book_section layout_padding">
        <div class="container">
          <div class="heading_container">
            <h2>
              Book A Table
            </h2>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form_container">
                <form action="">
                  <div>
                    <input type="text" class="form-control" placeholder="Your Name" />
                  </div>
                  <div>
                    <input type="text" class="form-control" placeholder="Phone Number" />
                  </div>
                  <div>
                    <input type="email" class="form-control" placeholder="Your Email" />
                  </div>
                  <div>
                    <select class="form-control nice-select wide">
                      <option value="" disabled selected>
                        How many persons?
                      </option>
                      <option value="">
                        2
                      </option>
                      <option value="">
                        3
                      </option>
                      <option value="">
                        4
                      </option>
                      <option value="">
                        5
                      </option>
                    </select>
                  </div>
                  <div>
                    <input type="date" class="form-control">
                  </div>
                  <div class="btn_box">
                    <button>
                      Book Now
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="map_container ">
                <div id="googleMap"></div>
              </div>
            </div>
          </div>
        </div> -->
      </section>
     <!-- Book Table end-->

    {% endblock  %}

  